.header_heading:after, .section_text:after, .section_card .section_card_heading:after, .section_banner .section_banner_heading:after {
  content: "";
  display: block;
  background-color: #ff5602;
  position: absolute;
  z-index: -1; }

body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  background-color: #25212d; }

.header {
  height: 100vh;
  min-height: 800px;
  max-width: 1920px;
  background-image: url(../img/m-h-night.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 150px;
  border-radius: 0px 0px 500px/270px 0px;
  color: white; }

.header-wrap {
  max-width: 580px; }

.landing-logo {
  display: flex;
  align-items: center; }
  .landing-logo img {
    height: 45px;
    width: 45px; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-family: "Fresca", sans-serif;
    font-weight: 600;
    font-size: 20px; }
    .landing-logo p span {
      font-size: 8px; }

.header_heading {
  font-size: 70px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  z-index: 1;
  position: relative; }
  .header_heading:after {
    width: 50%;
    height: 30px;
    bottom: 2px; }

.header_text {
  font-family: "Fresca", sans-serif;
  color: white;
  letter-spacing: 0.4px;
  line-height: 1.4;
  margin-bottom: 70px; }

.header_button, .section_banner_button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 3px;
  background-color: #c99d00;
  color: #fff;
  font-size: 16px;
  font-weight: 600; }
  .header_button:hover, .section_banner_button:hover {
    background-color: #967500;
    font-size: 110%;
    cursor: pointer; }

.section_text {
  display: block;
  max-width: 400px;
  color: white;
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  z-index: 1;
  position: relative;
  margin: 30px auto; }
  .section_text:after {
    width: 40%;
    height: 14px;
    right: 50px;
    bottom: 6px; }

.section_card_wrap {
  display: flex;
  padding: 30px 210px; }

.section_card {
  background-color: #544d63;
  border-radius: 5px;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding: 15px 20px;
  margin-right: 30px; }
  .section_card:last-child {
    margin-right: 0; }
  .section_card img {
    height: 200px;
    border-radius: 3px; }
  .section_card p {
    color: #d9d9d9;
    text-align: center;
    font-family: "Fresca", sans-serif;
    margin: 10px auto;
    font-size: 14px; }
  .section_card .section_card_heading {
    margin-top: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    z-index: 1;
    position: relative; }
    .section_card .section_card_heading:after {
      width: 100%;
      height: 10px;
      bottom: 0; }

.section_banner {
  width: 40%;
  height: 120px;
  background: linear-gradient(45deg, #c99d00, #840061);
  margin: 20px auto;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: relative;
  bottom: -80px; }
  .section_banner p {
    color: #d9d9d9;
    margin: 0;
    font-size: 14px;
    font-family: "Fresca", sans-serif; }
  .section_banner .section_banner_heading {
    color: white;
    font-size: 26px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    z-index: 1;
    position: relative;
    margin-bottom: 15px; }
    .section_banner .section_banner_heading:after {
      width: 16%;
      height: 14px;
      right: 194px;
      bottom: 2px; }

.footer {
  background-color: #544d63;
  padding: 80px 80px 40px; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Fresca", sans-serif;
    color: #d9d9d9; }
  .footer .footer_text {
    width: 30%; }
