body {
	max-width: 1920px;
	margin: 0;
	padding: 0;
	background-color: map-get($colors, "bgColor");
}

.header {
	height: 100vh;
	min-height: 800px;
	max-width: 1920px;
	background-image: $headBanner;
	background-size: cover;
	background-position: center;
	padding: 10px 150px;
	border-radius: 0px 0px 500px/270px 0px;
	color: map-get($colors, "textHeadColor");
}

.header-wrap {
	max-width: 580px;
}

.landing-logo {
	display: flex;
	align-items: center;
	img {
		height: 45px;
		width: 45px;
	}
	p {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin: 10px;
		font-family: $headFont;
		font-weight: 600;
		font-size: 20px;
		span {
			font-size: 8px;
		}
	}
}

.header_heading {
	font-size: 70px;
	font-family: $textFont;
	font-weight: 700;
	z-index: 1;
	position: relative;
	&:after {
		@extend %header-underline;
		width: 50%;
		height: 30px;
		bottom: 2px;
	}
}

.header_text {
	font-family: $headFont;
	color: lighten(map-get($colors, "textHeadColor"),15%);
	letter-spacing: 0.4px;
	line-height: 1.4;
	margin-bottom: 70px;
}

.header_button, .section_banner_button {
	height: 50px;
	width: 150px;
	border: none;
	border-radius: 3px;
	background-color: map-get($colors, "btnColor");
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	&:hover {
		background-color: darken(map-get($colors, "btnColor"),10%);
		font-size: 110%;
		cursor: pointer;
	}
}

.section_text {
	display: block;
	max-width: 400px;
	color: map-get($colors, "textHeadColor");
	font-size: 36px;
	font-family: $textFont;
	font-weight: 600;
	z-index: 1;
	position: relative;
	margin: 30px auto;
		&:after {
			@extend %header-underline;
			width: 40%;
			height: 14px;
			right: 50px;
			bottom: 6px;
		}
}

.section_card_wrap {
	display: flex;
	padding: 30px 210px;
}

.section_card {
	background-color: map-get($colors, "CardBg");
	border-radius: 5px;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	padding: 15px 20px;
	margin-right: 30px;
	&:last-child {
		margin-right: 0;
	}
	img {
		height: 200px;
		border-radius: 3px;
	}
	p {
		@include darken;
		text-align: center;
		font-family: $headFont;
		margin: 10px auto;
		font-size: 14px;
	}
	.section_card_heading {
		margin-top: 20px;
		font-family: $textFont;
		font-size: 20px;
		font-weight: 600;
		color: #fff;
		z-index: 1;
		position: relative;
		&:after {
			@extend %header-underline;
			width: 100%;
			height: 10px;
			bottom: 0;
		}

	}
}

.section_banner {
	width: 40%;
	height: 120px;
	background: $bannerGradient;
	margin: 20px auto;
	padding: 10px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	position: relative;
	bottom: -80px;
	p {
		@include darken;
		margin: 0;
		font-size: 14px;
		font-family: $headFont;
	}
	.section_banner_heading {
		color: lighten(map-get($colors, "textHeadColor"),25%);
		font-size: 26px;
		font-family: $textFont;
		font-weight: 700;
		z-index: 1;
		position: relative;
		margin-bottom: 15px;
			&:after {
				@extend %header-underline;
				width: 16%;
				height: 14px;
				right: 194px;
				bottom: 2px;
			}
	}
}

.footer {
	background-color: map-get($colors, "CardBg");
	padding: 80px 80px 40px;
	.footer-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $headFont;
		@include darken;
	}
	.footer_text {
		width: 30%;
	}
}