$colors: ("bgColor": #fff, "textUnderline": #009ed3, "textHeadColor": black, "btnColor": #7a911e, "CardBg": #25212d);
$headFont: 'Hind', sans-serif;
$textFont: 'Source Sans Pro', sans-serif;
$headBanner: url(../img/m-h-day.jpg);
$bannerGradient: linear-gradient(45deg, #96b51b, #3361C5);
%header-underline {
	content: "";
	display: block;
	background-color: map-get($colors, "textUnderline");
	position: absolute;
	z-index: -1;
}
@mixin darken {
	color: darken(#fff,15%);
}