$colors: ("bgColor": #25212d, "textUnderline": #ff5602, "textHeadColor": white, "btnColor": #c99d00, "CardBg": #544d63);
$headFont: 'Fresca', sans-serif;
$textFont: 'Source Sans Pro', sans-serif;
$headBanner: url(../img/m-h-night.jpg);
$bannerGradient: linear-gradient(45deg, #c99d00, #840061);
