@media print {
	.tm-sidebar, .tm-team-img, #about, #tmCarousel > ol, .blocks > div:nth-child(3), .tm-main-content > section:nth-child(6) {
		display: none;
	}
	body, .container, #home {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	section:nth-child(2) > .tm-content-box, #tmCarousel, .padding-medium, .blocks, .tm-main-content > section:nth-child(6), footer {
		margin: 0;
		padding: 0;
	}
	.tm-main-content {
		padding-top: 10px;
	}
	.tm-banner-text {
		width: 78%;
		display: block;
		text-align: justify;						 
		letter-spacing: 0.3em;
	}
	.tm-team-description-container {
		text-align: center;
		max-width: 100%;
		padding: 0;
	}
	h2 {
		text-transform: uppercase;
		color: lightskyblue;
		font-weight: 300;
		text-align: center;
	}
	.heading {
		margin: 0;
		padding: 0 25% 0 20%;
	}
	.heading a {
		color: black;
		text-decoration: none;
		line-height: 1.5em;
	}
	.heading > div > ol > li:nth-child(odd){
		text-align: left;
		list-style-type: none;
	}
	.heading > div > ol > li:nth-child(even){
		text-align: right;
		list-style-type: none;
	}
	.heading li:first-letter {
		color: lightskyblue;
		font-size: 2em;
	}
}

@media screen{
	.box-bg:hover {
		background-color: #87CEFA;
	}
	.box-bg:hover h2 {
		color: white;
		font-weight: 500;
	}
	.tm-sidebar, .tm-content-header, section {
		box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
	}
	.tm-banner {
		background-color: #76CDD7;
	}
	.tm-banner-inner {
		background-color: white;
	}
	.tm-banner-text {
		letter-spacing: 4px;
		word-spacing: 0.7em;
		text-shadow: 0 2px 1px #76CDD7, 0 12px 3px #76CDD7;
		animation: 4s ease 3s rotate;
		animation-iteration-count: infinite;
	}
	@keyframes rotate {
		0% {
    transform: rotateY(0deg);
  		}
  		100% {
    transform: rotateY(360deg);
  		}
	}
	section:nth-child(2) > .tm-content-box {
		display: flex;
	}
	.tm-team-img {
		overflow: hidden;
	}
	.gallery-container {
		width: 100%;
	}
	.tm-team-description-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	section:not(:first-child)::before {
		content: '';
		width: 0;
		height: 0;	
		border-top: 35px solid #87CEFA;
		border-right: 35px solid transparent;
	}
	.heading h2 {
		color: #76CDD7;
		text-align: center;
	}
	.heading a {
		color: black;
		padding-left: 1px;
		margin-left: 1px;
	}
	.heading a:visited {
		color: #ffb347;
	}
	.heading a:hover {
		text-decoration: none;
		box-shadow: -3px 0px 0px 0px rgba(255,179,71,1);
		color: #ffb347;
		font-weight: 500;
	}
	.heading li {
		list-style-type: lower-roman;
	}
	.heading .text::after {
		content: 'New';
		vertical-align: super;
		color: #f24d68;
		font-size: 10px;
		font-weight: 600;
	}
	.blocks > .tm-content-box .box:nth-child(even) {
		background-color: #F5F5F5;
	}
	.blocks > .tm-content-box .box {
		padding: 7px;
	}
	.blocks > .tm-content-box .boxes p {
		font-style: italic;
	}
	.blocks > .tm-content-box .boxes p:first-letter {
		font-size: 2em;
		font-weight: 400;
	}
	.form-control {
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: 2px solid #87CEFA;
		resize: none;
	}
	#contact_message, .submit-btn {
		border: 2px solid #87CEFA;
	}
	.form-control:focus {
		background-color: #87CEFA;
		border-radius: 10px;
		color: white;
	}
	.mandatory-field::after {
		content: "";
		background-size: 33px 33px;
		display: block;
		width: 33px;
		height: 33px;
		background-image: url(../img/email-icon.png);
		float: right;
	}
	.submit-btn {
		background-color: white;
		color: #87CEFA;
		float: right;
		height: 3.5em;
		width: 10em;
	}
	.submit-btn:hover {
		background-color: #ABDDFC;
		color: #E2EDFF;
		border: none;
	}
	.tm-nav-item:hover {
		background-color: #EDEDED;
	}
	h2 + p {
		font-style: italic;
		line-height: 1.5;
	}
	h2 ~ p {
		text-indent: 1.5em;
	}
}